.anta-regular {
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  filter: invert(75%) sepia(62%) saturate(1151%) hue-rotate(130deg) brightness(99%) contrast(87%);
}

.nav-link {
  color: #bce6eb;
  font-size: 1.5rem;
  margin: 0 10px;
}
.nav-link:hover {
  color: #4ba5e6;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1c0838;
  color: white;
  font-weight: 600;
}
