/* html,
body {
  height: 100%;
  margin: 0;
} */

.background {
  background: linear-gradient(to bottom, #1e273c 0%, #0b0f17 100%);
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
